beautifulsoup4==4.12.3
black==24.1.1
en-core-web-lg==3.7.1
en-core-web-md==3.7.1
en-core-web-sm==3.7.1
importlib-metadata==7.0.1
ipykernel==6.29.0
nltk==3.8.1
pickleshare==0.7.5
pip-chill==1.0.3
pyarrow==15.0.0
pysocks==1.7.1
python-dotenv==1.0.1
seaborn==0.13.2
selenium==4.17.2
virtualenv==20.24.1
wordcloud==1.9.3
